<div id="cover-spin" *ngIf="!dataLoaded"></div>
<div class="row row-0 justify-content-md-center" *ngIf="dataLoaded">
    <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container list-shs">
        <div class="card-header">
            <h4  class="card-title"> {{ transect_title }}
            </h4>
        </div>
        <div>
            <button type="button" class="btn btn-link btn-sm back-button" (click)="backToSites()">
                <i class="fa fa-arrow-left" aria-hidden="true"> </i>
                Retour à la liste des transects
            </button>
        </div>
        <div class="transect-edit">
            <button *ngIf="(!disabledForm && upIsAllowed) || (!disabledForm && addIsAllowed)" type="submit" class="btn btn-success btn-sm ml-3 pull-right box-shadow"
                (click)="onSubmitTransect()">
                <i class="material-icons">
                    save
                </i> Enregister
            </button>
            <button *ngIf="!isNew && upIsAllowed" class="btn btn-sm pull-right box-shadow" [ngClass]="disabledForm ? 'btn-warning' : 'btn-secondary'"
                (click)="onEdit()">
                <i *ngIf="disabledForm" class="fa fa-edit" aria-hidden="true"> </i>
                {{edit_btn}}
            </button>
        </div>
        <div class="card-body">
            <form>
                <fieldset [disabled]="disabledForm">
                    <legend>
                        Site Informations
                    </legend>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <small>Code Site :</small>
                                <select class="form-control form-control-sm"
                                    [formControl]="formTransect.controls.id_base_site">
                                    <option [ngValue]=null> -- Sélectionnez un site -- </option>
                                    <option *ngFor="let site of sites" [ngValue]="site.id_base_site"
                                        [innerHTML]="site.base_site_name">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="disabledForm" class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <small>Commune :</small>
                                <input value="{{currentSite.properties.nom_commune}}"
                                    class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset [disabled]="disabledForm">
                    <legend>
                        Transect Informations
                    </legend>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <small>Transect Label :</small>
                                <input class="form-control form-control-sm"
                                    [formControl]="formTransect.controls.transect_label">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <small>Habitat :</small>
                                <select class="form-control form-control-sm"
                                    [formControl]="formTransect.controls.cd_hab">
                                    <option [ngValue]=null> -- Sélectionnez un habitat -- </option>
                                    <option *ngFor="let habitat of habitats" [ngValue]="habitat.cd_hab"
                                        [innerHTML]="habitat.nom_complet">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <h6 class="mb-0"><i class="material-icons gps-icon">location_on</i>Point de départ : </h6>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <small>Longitude :</small>
                                <input type="number" class="form-control form-control-sm"
                                    [formControl]="formTransect.controls.geom_start_long" placeholder="longitude"
                                    max="180" min="-180" step="0.001">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <small>Latitude :</small>
                                <input type="number" class="form-control form-control-sm"
                                    [formControl]="formTransect.controls.geom_start_lat" max="90" min="-90" step="0.001"
                                    placeholder="latitude">
                            </div>
                        </div>
                    </div>

                    <h6 class="mb-0"><i class="material-icons  gps-icon">location_on</i>Point d'arrivée :</h6>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <small>Longitude :</small>
                                <input type="number" class="form-control form-control-sm"
                                    [formControl]="formTransect.controls.geom_end_long" placeholder="longitude"
                                    max="180" min="-180" step="0.001">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <small>Latitude :</small>
                                <input type="number" class="form-control form-control-sm"
                                    [formControl]="formTransect.controls.geom_end_lat" max="90" min="-90" step="0.001"
                                    placeholder="latitude">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br>
                <fieldset [disabled]="disabledForm">
                    <legend>
                        Placettes informations
                    </legend>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <small> Position des placettes : </small>
                                <div class="" id="newPerturs">
                                    <select class="form-control form-control-sm"
                                        [formControl]="formTransect.controls.id_nomenclature_plot_position">
                                        <option [ngValue]=null> -- Sélectionnez une position -- </option>
                                        <option *ngFor="let position of plot_position"
                                            [ngValue]="position.id_nomenclature">{{position.label_default}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <small> Taille des placettes ( {{ storeService.shsConfig.plot_size_unite }} ) </small>
                            <input class="form-control form-control-sm" [formControl]="formTransect.controls.plot_size"
                                type="number" placeholder="Taille des placettes" />
                        </div>
                    </div>
                    <small> Liste des placettes :</small>
                    <div *ngIf="!disabledForm" class="input-group my-2">
                        <input #addPlot  type="text" class="form-control form-control-sm" placeholder="Code placette"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-success" type="button" (click)="onAddPlot(addPlot)">
                                <i class="fa fa-plus-circle" aria-hidden="true"> </i> Ajouter</button>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li *ngFor="let plot of plots" class="list-group-item">
                            <span>Code placette : </span> {{ plot.code_plot }}
                        </li>
                    </ul>
                </fieldset>
            </form>
        </div>
    </div>
    <div *ngIf="!isNew"  class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm list-shs">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Liste des visites</h4>
            </div>
            <div class="card-body">
                <ngx-datatable class="material" [columnMode]="'force'" [rows]="rows" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'auto'" [messages]="storeService.shsConfig.list_visit_message"
                    [offset]="page.pageNumber" [limit]="page.size"  [selectionType]="'single'" (select)="onRowSelect($event)">
                    <ngx-datatable-column *ngFor="let col of storeService.shsConfig.default_list_visit_columns"
                        [name]="col.name" [prop]="col.prop" maxWidth="col.maxWidth">
                    </ngx-datatable-column>
                    <ngx-datatable-column maxWidth="120">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <i class="btn fa fa-info-circle" aria-hidden="true"
                                (click)="onVisitDetails(row.id_base_visit)"></i>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <pnx-modal-download labelButton='Télécharger ces visites' [pathDownload]='storeService.urlLoad'>
                    </pnx-modal-download>
                    <!-- <modal-shs classStyle="btn btn-sm btn-success pull-right" labelButton='Ajouter une nouvelle visite'
                        iconStyle="fa fa-plus-circle" (visitsUp)='getVisits()' >
                    </modal-shs> -->
                    <button *ngIf="addVisitIsAllowed" class="btn btn-sm btn-success pull-right box-shadow" (click)="onNewVisit()">
                        <i class="fa fa-plus-circle" aria-hidden="true"> </i>
                        Ajouter une nouvelle visite
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>