<div id="cover-spin" *ngIf="!dataLoaded"></div>
<div class="row row-0">
    <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container list-shs">
        <div>
            <button type="button" class="btn btn-link btn-sm back-button" (click)="backToSites()">
                <i class="fa fa-arrow-left" aria-hidden="true"> </i>
                Retour à la liste des sites
            </button>
        </div>
            <div class="wrapper">
                <h3> Consultation du transect {{ siteName }} </h3>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#infoGen" role="tab">
                            <i class="fa fa-info-circle"> </i> Informations Générales </a>
                    </li>
                    <li class="nav-item" *ngIf="show">
                        <a class="nav-link" data-toggle="tab" href="#details" role="tab">
                            <i class="fa fa-search police"> </i> Détails </a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="tab-pane active modal-header " id="infoGen" role="tabpanel">
                        <p> <span> Code site : </span> <span class="strong "> {{ siteCode }} </span></p>
                        <p> <span> Habitat : </span> <span class="strong" innerHTML="{{ nomHabitat }}"> {{ nomHabitat }}
                            </span></p>
                        <p> <span> Commune : </span> <span class="strong"> {{ nomCommune}} </span></p>
                    </div>
    
                    <div class="tab-pane modal-header" id="details" role="tabpanel">
                        <p> <span> Nom du site : </span> <span class="strong"> {{ siteName }} </span></p>
                        <p> <span> Organisme : </span> <span class="strong"> {{ organisme }} </span></p>
                        <p> <span> Description du site : </span> <span class="strong"> {{ siteDesc }} </span></p>
                    </div>
                </div>
    
            </div>

            <form>
                <fieldset [disabled]="disabledForm">
                        <legend>
                            <b>Coordonnées géographiques</b>
                        </legend>
                        <div class="form-group">
                            <div class="form-group">
                                <label>coord GPS départ</label>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <input type="number" class="form-control" [formControl]="formTransect.controls.geom_start_lat" 
                                        max="90" min="-90" step="0.001" placeholder="latitude">
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <input type="number" class="form-control" [formControl]="formTransect.controls.geom_start_long"
                                        placeholder="longitude" max="180" min="-180" step="0.001">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>coord GPS arrivée</label>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <input type="number" class="form-control"  [formControl]="formTransect.controls.geom_end_lat" 
                                        max="90" min="-90" step="0.001" placeholder="latitude">
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <input type="number" class="form-control" [formControl]="formTransect.controls.geom_end_long"
                                        placeholder="longitude"  max="180" min="-180" step="0.001">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="upIsAllowed" class="d-flex flex-row-reverse">
                            <button class="btn btn-warning" data-toggle="button">
                                <i class="fa fa-edit" aria-hidden="true"> </i>
                                Modifier
                            </button>
                        </div>
                </fieldset>
                <br>
                <fieldset [disabled]="disabledForm">
                    <legend>
                        <b>Informations placette</b>
                    </legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label> Position des placettes : </label>
                                    <div class="" id="newPerturs">
                                        <pnx-nomenclature [parentFormControl]="formTransect.controls.position_plot"
                                            keyValue="id_nomenclature" [bindAllItem]="true" keyLabel="label_default"
                                            [disabled]="disabledForm"
                                            codeNomenclatureType="TYPE_PERTURBATION">
                                        </pnx-nomenclature>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label> Taille des placettes ( {{ storeService.shsConfig.plot_size_unite }} ) </label>
                                <input class="form-control" type="number" placeholder="Taille des placettes" />
                            </div>
                        </div>
                    </div>
                    <hr>
                    <label> Liste des placettes :</label>
                    <ul class="list-group list-group-flush" >
                        <li *ngFor="let plot of plots"  class="list-group-item" >
                            <span>code placette : </span> {{ plot.code_plot }}
                        </li>
                    </ul>
                    <div *ngIf="upIsAllowed" class="d-flex flex-row-reverse">
                        <button class="btn btn-warning" data-toggle="button">
                            <i class="fa fa-edit" aria-hidden="true"> </i>
                            Modifier
                        </button>
                    </div>
                </fieldset>
            </form>
        <div class="card-footer">
        </div>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm list-shs">
        <div class="card">
            <div class="card-header">
                <h3>Consultation des relevés du transect {{ siteName }}</h3>
            </div>
            <div class="card-body">
                <ngx-datatable class="material" [columnMode]="'force'" [rows]="rows" [headerHeight]="50" [footerHeight]="50"
                    [rowHeight]="'auto'" [messages]="storeService.shsConfig.list_visit_message" [offset]="mapListService.page.pageNumber"
                    [limit]="mapListService.page.size">

                    <ngx-datatable-column *ngFor="let col of storeService.shsConfig.default_list_visit_columns" [name]="col.name"
                        [prop]="col.prop" maxWidth="col.maxWidth">
                    </ngx-datatable-column>

                    <ngx-datatable-column maxWidth="120">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <pnx-modal-download labelButton='Télécharger ces relevés' [pathDownload]='storeService.urlLoad' >
                    </pnx-modal-download>
                    <modal-shs classStyle="btn btn-sm btn-success pull-right" labelButton='Ajouter une nouvelle visite'
                        iconStyle="fa fa-plus-circle" (visitsUp)='getVisits()' >
                    </modal-shs>
                </div>
            </div>
        </div>
    </div>

</div>