fieldset:disabled {
    color: #6c757d;
    pointer-events: none;
}
fieldset {
    padding: 0.35em 0.625em 0.75em !important;
    border: 1px solid silver !important;
    margin: 0 2px !important;
    border-radius: 3px;
}
legend {
    width: auto;
    font-size: inherit;
}