config/settings.ini
config/conf_gn_module.toml
__pycache__/*
*.pyc
conf_gn_module.toml
var/
log/*
.vscode
*/venv
module.config.ts

# Node
.npm
node_modules
npm-debug.log
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/