<div class="releve" *ngIf="loadForm">
    <div class="row row-0">
        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container"
        [class.card-resize]="resizeCard()">
            <div class="card-header">
                <h4 class="card-title">{{visit_name}}</h4>
            </div>
            <div>
                <button type="button" class="btn btn-link btn-sm back-button" (click)="backToVisites()">
                    <i class="fa fa-arrow-left" aria-hidden="true"> </i>
                    Retour au transect n° {{idSite}}
                </button>
            </div>
            <div class="card-body">
                <form [formGroup]="visitForm">
                    <fieldset [disabled]="disabledForm">
                        <legend>
                            Transect
                        </legend>
                        <div class="form-group">
                            <label> Observateur(s) :* </label>
                            <div id="newObserver">
                                <pnx-observers [parentFormControl]="visitForm.controls.observers" [bindAllItem]="true"
                                    [idMenu]="storeService.shsConfig.id_menu_list_user" [disabled]="disabledForm">
                                </pnx-observers>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Perturbation(s) : </label>
                            <div>
                                <pnx-nomenclature [parentFormControl]="visitForm.controls.perturbations"
                                    [multiSelect]="true" keyValue="id_nomenclature" [bindAllItem]="true"
                                    keyLabel="label_default" [disabled]="disabledForm"
                                    codeNomenclatureType="TYPE_PERTURBATION">
                                </pnx-nomenclature>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Date de la visite :* </label>
                            <div>
                                <pnx-date [parentFormControl]="visitForm.controls.visit_date_min">
                                </pnx-date>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <fieldset>
                    <legend>
                        Placettes
                    </legend>
                    <div class="list-plots">
                        <button *ngFor="let plot of currentSite.properties.cor_plots" class="plot"
                            [class.active]="isActive(plot)" (click)="onChangePlot(plot)">
                            <i class="fa fa-angle-right plot-icon" [class.plot-active]="isActive(plot)"
                            aria-hidden="true"></i>
                            <span class="plot-item"><i class="fa fa-hashtag"></i> Code placette :
                                {{ plot.code_plot }}</span>
                            <span class="plot-item"><i class="material-icons gps-icon">location_on</i> Distance :
                                {{ plot.distance_plot }} {{storeService.shsConfig.plot_size_unite}}</span>
                            <span *ngIf="plot.isModifided && plot.status == true" class="badge  badge-warning">Modifiée</span>
                            <span *ngIf="plot.status == false" class="badge  badge-danger">Erreur</span>
                            <span *ngIf="plot.isEmpty" class="badge  badge-secondary">Vide</span>
                           
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm "
        [class.card-resize]="resizeCard()">
            <div id="cover-spin" *ngIf="spinner"></div>
            <plot_relev [id_plot]='id_plot' [taxons]='taxons' [strates]='strates' [disabledForm]='disabledForm'
                [(data)]='selectedPolt' [plot_title]='plot_title' (plotReleve)='getPlotReleve($event)'>
            </plot_relev>
        </div>
    </div>
    <div *ngIf="updateIsAllowed || addIsAllowed" class="card-footer">
        <div class="d-flex justify-content-end">
            <button *ngIf="!isNew && updateIsAllowed" class="btn  pull-right box-shadow"
                [ngClass]="disabledForm ? 'btn-warning' : 'btn-secondary'" (click)="onEdit()">
                <i *ngIf="disabledForm" class="fa fa-edit" aria-hidden="true"> </i>
                {{edit_btn}}
            </button>
            <button *ngIf="!disabledForm && addIsAllowed || !disabledForm && updateIsAllowed" type="submit"
                class="btn btn-success  ml-3 submit-btn box-shadow" [disabled]="!visitForm.valid"
                (click)="onSubmitVisit()">
                <i class="material-icons">
                    save
                </i> {{submit_label}}
            </button>
        </div>
    </div>
</div>