fieldset:disabled {
  color: #6c757d;
  pointer-events: none;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid silver;
  margin: 0 2px;
  border-radius: 3px;
  margin-bottom: 20px;
}

legend {
  width: auto;
  font-size: inherit;
}

.back-button {
  text-align: left;
}

.table {
  margin: 30px 0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  td {
    vertical-align: middle;
    padding: 4px 10px;
  }
}

.card {
  max-height: 100vh;
  overflow-y: auto;
  padding-bottom: 5px;
}

.card-resize {
  max-height: calc(95vh - 67px);
}

.card-header {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title {
  margin-bottom: 0;
}

.card-footer {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  min-height: 67px;
  background-color: #f5f5f5;
}

.plot {
  text-align: left;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.plot:hover {
  background-color: #e9ecef7a;
}

.plot:focus {
  background-color: #e9ecef;
  border-left: 8px solid #28a745;
  outline: 0;
}

.plot.active {
  background-color: #e9ecef;
  border-left: 8px solid #28a745;
  outline: 0;
}

.list-plots {
  padding: 4px 34px;

  :first-child {
    border-top: 1px solid #dee2e6;
  }
}

.plot-item {
  color: #495057;
  padding-right: 20px;

  i {
    border-top: none !important;
    font-size: 14px;
    color: #4084cc;

    &.gps-icon {
      font-size: 18px;
      color: #4084cc;
      vertical-align: text-bottom;
    }
  }

  .location-icon {
    font-size: 20px;
    color: #4084cc;
    vertical-align: text-bottom;
  }
}


#cover-spin {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.39);
  z-index: 9999;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 50%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

.badge {
  margin-left: 30px;
  padding: 5px;
  font-weight: 600;
}

.plot-icon {
  display: none;
  float: right;
  font-size: 22px;
}

.plot-active {
  display: inline;
}

.box-shadow {
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.material-icons {
  vertical-align: text-bottom;
  font-size: 22px;
}

.submit-btn {
  font-size: 17px;
}
