# Paramètres du module
export_available_format = ['geojson', 'csv', 'shapefile']

id_type_commune = 25
zoom_center = [44.863664, 6.268670]
zoom= 10
pagination_serverside= False
items_per_page = 10
plot_size_unite = "mètre"
MODULE_CODE = "SHS"
id_nomenclature_type_site = 690
id_bib_list_habitat= 2

site_message = {"emptyMessage" : "Aucun site à afficher ", "totalMessage" : "sites(s) au total"}
list_visit_message = {"emptyMessage" : "Aucune visite sur ce site ", "totalMessage" : "visites au total"}
detail_list_visit_message = {"emptyMessage" : "Aucune autre visite sur ce site ", "totalMessage" : "visites au total"}

default_site_columns = [
    { "name" : "Identifiant", "prop" : "id_base_site", "width" : "90"},
    { "name" : "Habitat", "prop" : "nom_habitat", "width" : "350"},
    { "name" : "Nombre de visites", "prop" : "nb_visit", "width" : "120"},
    { "name" : "Date de la dernière visite", "prop" : "date_max", "width" : "160"}
]

default_list_visit_columns = [
    { "name" : "Date", "prop" : "visit_date_min", "width": "120"},
    { "name" : "Observateur(s)", "prop" : "observers", "width": "350"}
]
id_menu_list_user = 1