
<div class="row row-0">
  <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container list-shs">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h4 class="card-title">Liste des stations</h4>
      <button class="btn btn-sm btn-success pull-right box-shadow" (click)="onNewTransect()" *ngIf="addIsAllowed">
        <i class="fa fa-plus-circle" aria-hidden="true"> </i>
        Ajouter un nouveau transect
      </button>
    
    </div>
    <div class="card-body">
      <fieldset>
        <legend class="filters-legend">
          <h6><i class="fa fa-filter"></i> Filtres</h6>
        </legend>
        <form *ngIf="dataLoaded" class="wrapper wrapper-filter">
          <div class="row">
            <div class="searchSite col">
              <div class="form-row">
                <div class="searchSite col">
              <small> Année de visite : </small>
              <select
                class="form-control form-control-sm"
                name="selectHab"
                [formControl]="filterForm.controls.year"
              >
                <option [ngValue]="null"> -- Sélectionnez un filtre -- </option>
                <option
                  *ngFor="let year of tabYear"
                  [ngValue]="year"
                  [innerHTML]="year"
                >
                </option>
              </select>
            </div>
              </div>
            </div>
            <div class="searchSite col">
              <div class="form-row">
                <div class="searchSite col">
              <small> Organisme: </small>
              <select
                class="form-control form-control-sm"
                name="selectHab"
                [formControl]="filterForm.controls.organism"
              >
                <option [ngValue]="null"> -- Sélectionnez un filtre -- </option>
                <option
                  *ngFor="let org of tabOrganism"
                  [ngValue]="org"
                  [innerHTML]="org"
                >
                </option>
              </select>
            </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="searchSite col">
              <small> Habitat : </small>
              <select
                class="form-control form-control-sm"
                name="selectHab"
                [formControl]="filterForm.controls.filterHab"
              >
                <option [ngValue]="null"> -- Sélectionnez un filtre -- </option>
                <option
                  *ngFor="let hab of tabHab"
                  [ngValue]="hab.cd_hab"
                  [innerHTML]="hab.nom_habitat"
                >
                </option>
              </select>
            </div>
            <div class="searchSite col">
              <small> Commune : </small>
              <select
                class="form-control form-control-sm"
                name="selectHab"
                [formControl]="filterForm.controls.area_name"
              >
                <option [ngValue]="null"> -- Sélectionnez un filtre -- </option>
                <option
                  *ngFor="let area of tabArea"
                  [ngValue]="area"
                  [innerHTML]="area"
                >
                </option>
              </select>
            </div>
          </div>
          <button class="btn btn-sm btn-success pull-right " (click)="onFilter()">Filtrer</button>
          <button class="btn btn-sm btn-secodary pull-right mr-3" (click)="resetFilters()">
            Réinitialiser
          </button>
        </form>
      </fieldset>
      <br />
      <div class="wrapper wrapper-datatable mt-3" style="box-shadow: 0 4px 10px rgba(0,0,0,0.1); border-radius: 6px; overflow: hidden;">
      <mat-progress-bar mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-bar>
       <table mat-table 
            [dataSource] = "dataSource" multiTemplateDataRows matSort
            matSortActive="Station" matSortDirection="asc"
            class = "mat-elevation-28">
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
              <th mat-header-cell mat-sort-header *matHeaderCellDef class="mat-header-cell" [matTooltip]="columnTooltips[column]"> {{column}} </th>
              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
            <ng-container matColumnDef="expand">
              <th mat-header-cell  *matHeaderCellDef aria-label="row actions">&nbsp;</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" matTooltip="Voir les transects" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); onViewStation(element.id_station)" >
                  <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                  <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class= "element_detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <!-- sous-table des transects -->
                         <table class = "table">
                            <thead class="sub-table-header">
                              <tr>
                                
                                <th scope = "col">Nom transect</th>
                                <th scope = "col">Nbre visite</th>
                                <th scope = "col">Dernière visite</th>
                                <th scope = "col">Actions</th>
                              </tr>
                            </thead>
                            <tbody class = "sub-table-body">
                              <tr *ngFor = "let transect of expandedStations[element.id_station]"
                              [class.selected-transect]="transect.id_transect === selectedTransectId"
                              (click) = "onSelectTransect(transect.id_transect); $event.stopPropagation()", style = "cursor: pointer;">
                                <th scope="row">{{transect.transect_label}}</th>
                                <td>{{transect.nb_visits}}</td>
                                <td>{{transect.last_visit}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-info" (click)="onInfo(transect.id_base_site)" matTooltip="Info transect">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                </td>
                              </tr>
                            </tbody>
                         </table>
                        
                    </div>
                </td>
            </ng-container>
             <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"
             class = "mat-header-row"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  [class.selected-station-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element; onRowSelect(element)">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" 
                  class="example-detail-row"
                  [class.selected-station-row]="row === expandedElement">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">
                    Aucune station à afficher
                </td>
              </tr>
             
       </table>
        <mat-paginator
          [pageSize]="page.size"
          [pageSizeOptions]="[5, 10, 20, 50]"
          showFirstLastButtons>
        </mat-paginator>

       
      </div>
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <pnx-map height="91vh" [center]="center" [zoom]="zoom">
      <pnx-geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="sites"> </pnx-geojson>
    </pnx-map>
  </div>
</div>
