<div id="cover-spin" *ngIf="!dataLoaded"></div>
<div class="row row-0">
  <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm tab-container list-shs">
    <div class="card-header">
      <h4 class="card-title">Liste des stations</h4>
      <button class="btn btn-sm btn-success pull-right box-shadow" (click)="onNewTransect()" *ngIf="addIsAllowed">
        <i class="fa fa-plus-circle" aria-hidden="true"> </i>
        Ajouter un nouveau transect
      </button>
    
    </div>
    <div class="card-body">
      <fieldset>
        <legend class="filters-legend">
          <h6><i class="fa fa-filter"></i> Filtres</h6>
        </legend>
        <form *ngIf="dataLoaded" class="wrapper wrapper-filter">
          <div class="row">
            <div class="searchSite col">
              <div class="form-row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                  <small> {{ 'Releve.MinDate' | translate }} : </small>
                  <div class="input-group">
                    <input
                      [formControl]="filterForm.controls.date_low"
                      [maxDate]="maxDate"
                      class="form-control form-control-sm"
                      ngbDatepicker
                      #low="ngbDatepicker"
                      (click)="low.toggle(); $event.stopPropagation()"
                      (document:click)="closeFix($event, low)"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-sm btn-outline-secondary"
                        (click)="low.toggle(); $event.stopPropagation()"
                        (document:click)="closeFix($event, low)"
                        type="button"
                      >
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <small> {{ 'Releve.MaxDate' | translate }} : </small>
                  <div class="input-group">
                    <input
                      [formControl]="filterForm.controls.date_up"
                      [minDate]="minDate"
                      class="form-control form-control-sm"
                      ngbDatepicker
                      #up="ngbDatepicker"
                      (click)="up.toggle(); $event.stopPropagation()"
                      (document:click)="closeFix($event, up)"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-sm btn-outline-secondary"
                        (click)="up.toggle(); $event.stopPropagation()"
                        (document:click)="closeFix($event, up)"
                        type="button"
                      >
                        <i class="fa fa-calendar"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="searchSite col">
              <small> Habitat : </small>
              <select
                class="form-control form-control-sm"
                name="selectHab"
                [formControl]="filterForm.controls.filterHab"
              >
                <option [ngValue]="null"> -- Sélectionnez un filtre -- </option>
                <option
                  *ngFor="let hab of tabHab"
                  [ngValue]="hab.cd_hab"
                  [innerHTML]="hab.nom_habitat"
                >
                </option>
              </select>
            </div>
          </div>
          <button class="btn btn-sm btn-success pull-right " (click)="onFilter()">Filtrer</button>
          <button class="btn btn-sm btn-secodary pull-right mr-3" (click)="resetFilters()">
            Réinitialiser
          </button>
        </form>
      </fieldset>
      <br />
      <div class="wrapper wrapper-datatable">
    <table class="table table-hover table-sm">
        <thead style="background-color: #4a7c59; color: white;">
            <tr>
                <th>Nom station</th>
                <th>Habitat</th>
                <th>Nb visites</th>
                <th>Dernière visite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let station of filteredData | slice: (page.pageNumber-1)*page.size : page.pageNumber*page.size">
                <tr>
                    <td><strong>{{ station.properties.name || 'Sans nom' }}</strong></td>
                    <td><small>{{ station.properties.habitat_name }}</small></td>
                    <td>
                        <span >{{ station.properties.nb_visits }}</span>
                    </td>
                    <td>{{ station.properties.last_visit }}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-success"
                            (click)="onViewStation(station.properties.id_station)"
                            title="Voir les transects">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
                <!-- Transects de la station -->
                <tr *ngIf="expandedStations[station.properties.id_station]">
                    <td colspan="5" class="p-0">
                        <table class="table table-sm mb-0">
                            <thead style="background-color: #e8f5e9;">
                                <tr>
                                    <th class="pl-5">Nom transect</th>
                                    <th>Nb visites</th>
                                    <th>Dernière visite</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transect of expandedStations[station.properties.id_station]"
                                    style="background-color: #f9fbe7;">
                                    <td class="pl-5">
                                        
                                        {{ transect.transect_label }}
                                    </td>
                                    <td>
                                        <span >{{ transect.nb_visits }}</span>
                                    </td>
                                    <td>{{ transect.last_visit }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-outline-info"
                                            (click)="onInfo(transect.id_base_site)"
                                            title="Plus d'infos">
                                            <i class="fa fa-info-circle"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center mt-2">
        <small class="text-muted">
            {{ filteredData.length }} station(s) au total
        </small>
        <ngb-pagination
            [collectionSize]="page.totalElements"
            [(page)]="page.pageNumber"
            [pageSize]="page.size"
            [maxSize]="5"
            [rotate]="true"
            [boundaryLinks]="true"  
            class="mb-0 "
            >
        </ngb-pagination>
    </div>
</div>
    </div>
    
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-sm">
    <pnx-map height="91vh" [center]="center" [zoom]="zoom">
      <pnx-geojson [onEachFeature]="onEachFeature.bind(this)" [geojson]="sites"> </pnx-geojson>
    </pnx-map>
  </div>
</div>
